<div id="<%= dom_id calendar_event %>">
  <p>
    <strong>Title:</strong>
    <%= calendar_event.title %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= calendar_event.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= calendar_event.ends_at %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= calendar_event.calendar_id %>
  </p>

</div>
