<%= form_with(model: calendar_event) do |form| %>
  <% if calendar_event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(calendar_event.errors.count, "error") %> prohibited this calendar_event from being saved:</h2>

      <ul>
        <% calendar_event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :starts_at, style: "display: block" %>
    <%= form.datetime_field :starts_at %>
  </div>

  <div>
    <%= form.label :ends_at, style: "display: block" %>
    <%= form.datetime_field :ends_at %>
  </div>

  <div>
    <%= form.label :calendar_id, style: "display: block" %>
    <%= form.text_field :calendar_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
