<div class="week-grid">
  <div>
    <div class="week-grid__header">
      <span class="week-grid__date"></span>
      <% Date.current.all_week.each do |day| %>
        <span class="week-grid__date">
          <small>
            <%= day.strftime("%a") %>
          </small>
          <strong>
            <%= day.strftime("%d") %>
          </strong>
        </span>
      <% end %>
    </div>
    <div class="week-grid__body">
      <div class="week-grid__day">
        <% (24.hours/0.5.hour).to_i.times do |half_hours| %>
          <div class="week-grid__slot week-grid__clock-slot">
            <span class="week-grid__clock text-xs">
              <%= ( Time.current.beginning_of_day + (30.minutes * half_hours) ).strftime("%I %p") if ( half_hours % 2 == 0 && half_hours != 0 ) %>
            </span>
            <div class="week-grid__clock-gutter"></div>
          </div>
        <% end %>
      </div>
      <% Date.current.all_week.each do |day| %>
        <turbo-frame class="week-grid__day" id="<%= day.iso8601 %>">
          <% (24.hours/0.5.hour).to_i.times do |half_hours| %>
            <div class="week-grid__slot week-grid__time-slot">
              <% calendar_event = calendar.calendar_events.find { _1.starts_at == day.to_time(:utc).beginning_of_day + (30.minutes * half_hours) } %>
              <% if calendar_event %>
                <%= render calendar_event %>
              <% else %>
                <%= form_with model: CalendarEvent.new do |f| %>
                  <%= f.hidden_field :calendar_id, value: calendar.id %>
                  <%= f.hidden_field :title, value: 'New event' %>
                  <%= f.hidden_field :starts_at, value: day.to_time(:utc).beginning_of_day + (30.minutes * half_hours) %>
                  <%= f.hidden_field :ends_at, value: (day.to_time(:utc).beginning_of_day + (30.minutes * half_hours) + 30.minutes) %>
                  <%= f.button(type: :submit) do %>
                    <span class="sr-only">Create event</span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </turbo-frame>
      <% end %>
    </div>
  </div>
</div>
